body {
  color: #191919;
  box-sizing: border-box;
}

a {
  color: #191919;
  text-decoration: none;
}

.App {
  text-align: center;
}

.search-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: white;
  border-bottom: solid 1px #191919;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mdpa {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  width: 25px;
  height: 25px;
}

.logo-box {
  color: #f9300a;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.doe-hed {
  width: 25px;
  height: 25px;
}

.search-cart {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  background-image: url("./assets/icons/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 20px;
  height: 25px;
  width: 250px;
  border: 0.5px solid lightgray;
  border-radius: 25px;
}

.search-box:focus {
  background-image: none;
}

.cart-button {
  color: #fff;
  background-color: #f9300a;
  fill: currentColor;
  border: none;
  height: 27px;
  width: 50px;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-button:hover {
  cursor: pointer;
}

.menu-slider {
  position: fixed;
  z-index: 500;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 16px;
  width: 20%;
  padding: 0;
  margin: 0;
  top: 50px;
  left: 0;
}

.menu-slider-bg {
  position: fixed;
  display: none;
  z-index: 1;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: green;
}

.menu {
  color: green;
  fill: currentColor;
  padding-left: 15px;
  border-right: 0.1px solid #191919;
  box-shadow: 10px;
  text-align: left;
  vertical-align: middle;
}

.menu-close {
}

.menu-upper {
  font-weight: 700;
}

.menu-upper div {
  display: flex;
  align-items: center;
}

.cart-slider {
  position: fixed;
  z-index: 500;
  width: 20%;
  padding: 0;
  top: 52px;
  right: 0;
  background-color: white;
}

.cart-slider-bg {
  position: fixed;
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: red;
}

.card-name {
  font-weight: 700;
  margin: 3px 0px;
}

.card-text {
  margin: 3px 0px;
}

/*  copied from doordash style to see how it works */
.show-5-stores {
  display: flex;
  margin-top: 0;
  margin-right: 12px;
  margin-bottom: 64px;
  flex-direction: row;
  border-bottom: solid 1px lightgrey;
}

.show-5-stores-left {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding-top: 32px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.show-5-stores-right {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 66%;
  margin-top: 16px;
}

.show-5-stores-top {
  display: flex;
  margin-bottom: 8px;
}

.show-5-stores-bottom {
  display: flex;
}

.store-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  overflow: hidden;
  width: 45%;
  height: auto;
}

.store-card-old {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 18rem;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 0.1px grey solid;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.store-card-text {
  text-align: left;
}

.store-card img {
  width: 100%;
  height: 10em;
  border-radius: 5px;
  object-fit: cover;
}

.store {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin-left: 15px;
}

.store img {
  width: 100%;
  border-radius: 10px;
}

.store-info {
  text-align: left;
}

.store-cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 30vw;
  padding-top: 50px;
}

.cart {
  height: 100%;
  border-left: 0.5px solid grey;
  padding: 15px;
  text-align: left;
}

.cart-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-item p {
  margin: 2px;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 66%;
  margin-top: 16px;
}

.product-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  overflow: hidden;
  width: 40%;
  height: auto;
}

.product-card-text {
  text-align: left;
}

.product-card img {
  width: 100%;
  height: 10em;
  border-radius: 5px;
  object-fit: cover;
}

.category-bar {
  margin-top: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category-box-box {
  background-color: white;
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-box {
  width: 8em;
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
}

.category-box img {
  width: 4em;
  height: 4em;
  margin: auto;
  transition: 0.3s;
}

.category-box img:hover {
  width: 5em;
  height: 4em;
  transform: rotate(10deg);
}

.category-box p {
  margin: 4px 0px;
}

.category {
  margin: auto;
  margin-top: 55px;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(245, 227, 205);
}

.category-left {
  width: 45%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  text-justify: left;
}

.category-right {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.store-2-prods {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 16px;
  background-color: white;
}

.store-2-prods-img {
  width: 100%;
  display: flex;
  direction: row;
  justify-content: space-between;
}

.store-2-prods-text {
  width: 100%;
  text-align: left;
}

.store-2-prods img {
  width: 48%;
  height: 150px;
  margin: 0;
  border-radius: 5px;
}

.store-2-prods-name {
  width: 100%;
  text-align: left;
  font-weight: 700;
}

.store-2-prods-line {
  display: flex;
  direction: row;
  justify-content: space-between;
}

.add-ons {
  text-align: left;
}

.add-ons-img {
  width: 100%;
}

.add-ons textarea {
  width: 100%;
  height: 5rem;
}

.qty-add {
  width: 50%;
  height: 35px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.qty-add button {
  background-color: red;
  color: white;
  font-weight: 777;
  vertical-align: middle;
  height: 35px;
  padding: 10px;
  border: none;
}

.pickup {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pickup-left {
  width: 48%;
  padding: 10px;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}

.pickup-right {
  width: 50%;
  display: flex;
}

.map {
  position: fixed;
  top: 53px;
  right: 0;
}
