body {
  color: #191919;
  box-sizing: border-box;
}

a {
  color: #191919;
  text-decoration: none;
}

.App {
  text-align: center;
}

.search-bar {
  width: 100%;
  display: flex;
  border-bottom: solid 1px #191919;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mdpa {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  width: 25px;
  height: 25px;
}

.logo-box {
  color: #f9300a;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.doe-hed {
  width: 25px;
  height: 25px;
}

.search-cart {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  background-image: url("./assets/icons/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 20px;
  height: 25px;
  width: 250px;
  border: 0.5px solid lightgray;
  border-radius: 25px;
}

.search-box:focus {
  background-image: none;
}

.cart-button {
  color: #fff;
  background-color: #f9300a;
  fill: currentColor;
  border: none;
  height: 27px;
  width: 50px;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-button:hover {
  cursor: pointer;
}

.ReactModal__Content {
  top: 0;
  left: -20%;
  margin: 0;
  padding: 0;
}

.ReactModal__Content--after-open {
  transition: all 0.5s;
  transform: translateX(100%);
}

.menu {
  padding-left: 15px;
  border-right: 0.1px solid #191919;
  box-shadow: 10px;
  text-align: left;
  vertical-align: middle;
}

.menu-close {
}

.menu-upper {
  font-weight: 700;
}

.menu-upper div {
  display: flex;
  align-items: center;
}

.cart-modal {
  position: fixed;
  z-index: 500;
  background-color: blue;
  width: 20%;
  padding: 0;
  margin: 0;
  right: 0;
}

/*  copied from doordash style to see how it works */
.show-5-stores {
  display: flex;
  margin-top: 0;
  margin-right: 12px;
  margin-bottom: 64px;
  flex-direction: row;
  border-bottom: solid 1px lightgrey;
}

.show-5-stores-left {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding-top: 32px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.show-5-stores-right {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 66%;
  margin-top: 16px;
}

.show-5-stores-top {
  display: flex;
  margin-bottom: 8px;
}

.show-5-stores-bottom {
  display: flex;
}

.store-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  overflow: hidden;
  width: 45%;
  height: auto;
}

.store-card-old {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 18rem;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 0.1px grey solid;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.store-card img {
  width: 100%;
  height: 10em;
  border-radius: 5px;
  object-fit: cover;
}

.store {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin-left: 15px;
}

.store img {
  width: 100%;
  border-radius: 10px;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 66%;
  margin-top: 16px;
}

.product-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  overflow: hidden;
  width: 40%;
  height: auto;
}

.product-card img {
  width: 100%;
  height: 10em;
  border-radius: 5px;
  object-fit: cover;
}

.category-bar {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category-box {
  width: 8em;
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
}

.category-box img {
  width: 4em;
  height: 4em;
  margin: auto;
  transition: 0.3s;
}

.category-box img:hover {
  width: 5em;
  height: 4em;
  transform: rotate(10deg);
}

.category-box p {
  margin: 4px 0px;
}
